(
    max_speed: 5.0,
    mass: 300.0,
    center_of_mass: (0.0, 1.55, 0.7),
    surfaces: [
        // elevator
        (
            input_kind: Pitch,
            side: Center,
            position: (0.0, 1.65, -3.08),
            rotation: (0.0, 0.0, 0.0),
            span: 2.8,
            chord: 1.5,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: -0.19,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 0.5,
        ),
        // rudder
        (
            input_kind: Yaw,
            side: Center,
            position: (0.0, 2.0, -3.2),
            rotation: (0.0, 0.0, -90.0),
            span: 1.4,
            chord: 1.0,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: 0.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 0.5,
        ),
        // main wing
        (
            input_kind: None,
            side: Center,
            position: (0.0, 1.95, 1.1),
            rotation: (0.0, 0.0, 0.0),
            lift: 0.265,
            span: 10.5,
            chord: 1.1,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: -2.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 0.0,
        ),
        // left flap
        (
            input_kind: Flap,
            side: Left,
            position: (1.26, 1.9, 0.3),
            rotation: (0.0, 0.0, 0.0),
            lift: 1.0,
            span: 1.6,
            chord: 0.3,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: 0.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 1.0,
        ),
        // right flap
        (
            input_kind: Flap,
            side: Right,
            position: (-1.26, 1.9, 0.3),
            rotation: (0.0, 0.0, 0.0),
            lift: 1.0,
            span: 1.6,
            chord: 0.3,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: 0.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 1.0,
        ),
        // left aileron
        (
            input_kind: Roll,
            side: Left,
            position: (3.35, 1.92, 0.3),
            rotation: (0.0, 0.0, 1.0),
            lift: 1.0,
            span: 2.6,
            chord: 0.3,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: 0.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 1.0,
        ),
        // right aileron
        (
            input_kind: Roll,
            side: Right,
            position: (-3.35, 1.92, 0.3),
            rotation: (0.0, 0.0, -1.0),
            lift: 1.0,
            span: 2.6,
            chord: 0.3,
            lift_slope: 6.28,
            skin_friction: 0.02,
            zero_lift_aoa: 0.0,
            stall_angle_high: 15.0,
            stall_angle_low: -15.0,
            flap_fraction: 1.0,
        ),
    ],
)
